<!DOCTYPE html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133745471-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133745471-2');
  </script>
  <meta name="viewport" content="width=device-width,initial-scale=0.85,user-scalable=0">
  <script src="/jquery-3.4.1.js"></script>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <script src="/infinite-scroll.pkgd.min.js"></script>
  <meta property="og:title" content="<%- image.title %>">
  <meta property="og:url" content="https://LightningHosted.com/s/<%- image.imageId %>" />
  <meta property="og:type" content="article">
  <meta property="og:image:width" content="<%- image.width %>">
  <meta property="og:image:height" content="<%- image.height %>">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:description"
    content="<%- image.views %> views and <%- image.upVotes %> votes on LightningHosted.com">
  <meta name="twitter:description"
    content="<%- image.views %> views and <%- image.upVotes %> votes on LightningHosted.com">
  <meta name="twitter:image" content="https://lightninghosted.com/noauth/image/<%- image.fileName %>">
  <meta property="og:image" content="https://lightninghosted.com/noauth/image/<%- image.fileName %>?fb">



  <link rel="alternate" type="application/xml+oembed" href="https://lightninghosted.com/api/<%- image.imageId %>"
    title="<%- image.title %> - Stacking Sats With Lightning Hosted">
  <link rel="alternate" type="application/json+oembed" href="https://lightninghosted.com/apij/<%- image.imageId %>"
    title="<%- image.title %> - Stacking Sats With Lightning Hosted">
</head>

<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <div id='logo'><a href="/">
            <h1>LightningHosted</h1>
          </a></div>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/auth/#">Posts</a></li>
          <li class="nav-item"><a href="/noauth/about">About</a></li>
          <li class="nav-item"><a href="/noauth/contact">Contact</a></li>
          <li class="nav-item"><a id="logInStatus" class="<%= logInStatus %>" href="/noauth/login">Log In</a></li>
        </ul>
      </nav>
    </div>
    <section class="headline">
      <a href="/">
        <h1>Share Images And Stack Sats</h1>
      </a>
    </section>
    <div id='ad1' class='ad'>
      <iframe data-aa="1259139" src="//ad.a-ads.com/1259139?size=468x60" scrolling="no"
        style="width:468px; height:60px; border:0px; padding:0; overflow:hidden" allowtransparency="true"></iframe>
    </div>

    <% if(image.width > image.height){ %>
    <div id="shareImage" class="item photo <%- image.imageId %>" style="grid-row-end: span 11;">

      <% ;} %>
      <% if(image.width <= image.height){ %>
      <div id="shareImageTall" class="item photo <%- image.imageId %>" style="grid-row-end: span 11;">

        <% ;} %>

        <!-- <div id="shareImage" class="item photo <%- image.imageId %>" style="grid-row-end: span 11;"> -->
        <div class="content">
          <div class="title">
            <h3><%- image.title %></h3>
          </div>
          <%if(image.fileName.split('.').pop()=== 'mp4'){%>
          <video class="photoThumb videoThumb" width="" height="" autoplay loop controls muted>
            <source class='mp4' src="/noauth/image/<%- image.fileName %>" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <% ;} else{ %>
          <img class="sharePhoto" src="/noauth/image/<%- image.fileName %>">
          <% } %>
          <div class="shareDesc">
            <p>Views: <%- image.views %></p>
            <p>Upvotes: <span class="upVotes"> <%- image.upVotes %> </span> <button class="upVotebtn"
                onclick="upvoteImage('<%-image.imageId%>')"><span id="<%- image.imageId %>"
                  class="chevron top"></span></button></p>

            <p class='shareText'>Share:</p>
            <div id="share-buttons">

              <span>
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=https://LightningHosted.com/s/<%- image.imageId %>"
                  target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
                </a>

                <!-- Reddit -->
                <a href="http://reddit.com/submit?url=https://LightningHosted.com/s/<%- image.imageId %>&amp;title=<%- image.title %>"
                  target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
                </a>

                <!-- Twitter -->
                <a href="https://twitter.com/share?url=https://LightningHosted.com/s/<%- image.imageId %>&amp;text=LightningHosted.com&amp;hashtags=LightningHosted"
                  target="_blank">
                  <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
                </a>
              </span>
            </div>
            <div id='commentSection'>
              <div id='comments'>

                <% for(var i=0; i < image.comments.length; i++) { %>
                <div id="<%= image.comments[i].commentId %>" class='commentString'>
                  <div class="topLevelComment comment">
                    <p><%= image.comments[i].comment %> </p>
                    <button onclick="reply('<%= image.imageId %>','<%= image.comments[i].commentId %>')"
                      class='btn replyBtn'>Reply</button>
                  </div>
                  <% for(var x=0; x < image.comments[i].subComments.length; x++) { %>
                  <div id="<%= image.comments[i].subComments[x].subCommentId%>" class='subComment'>
                    <p><%= image.comments[i].subComments[x].comment%></p>
                    <button class='btn replyBtn'
                      onclick='reply("<%= image.imageId %>","<%= image.comments[i].commentId %>","<%= image.comments[i].subComments[x].subCommentId%>")'>Reply</button>
                  </div>
                  <% } %>
                </div>
                <% } %>
              </div>
              <div id='commentSubmit'>
                <textarea class='commentBox'></textarea>
                <button onclick='submitComment("<%- image.imageId %>")' class='bigSubmitBtn btn'>Submit</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="grid"></div>

      <!-- image card template -->
      <div id="photoCard" class="item photo" style="display:none">
        <div class="content">
          <div class="title">
            <h3 class='titleVal'>Title</h3>
          </div>
          <a class='shareLink' href="/">
            <img onload="" class="photoThumb" src="/">
          </a>
          <div class="descNoAuth">
            <p>Views: <span class='views'></span></p>
            <p>Upvotes: <span class='upVotes'></span> <button class="upVotebtn" onclick=""><span
                  class="chevron top"></span></button></p>
          </div>
        </div>
      </div>


      <!-- ad card template -->
      <div id="photoCardAd" class="item photo adCardTemplate" style="display:none">
        <div class="content">
          <div class="title">
            <h3>Sponsor</h3>
          </div>
          <div class="ads">
            <iframe data-aa="1259138" src="//ad.a-ads.com/1259138?size=300x250" scrolling="no"
              style="width:300px; height:250px; border:0px; padding:0; overflow:hidden"
              allowtransparency="true"></iframe>
          </div>
          <div class="desc">
          </div>
        </div>
      </div>

      <!-- comment string template -->
      <div class='commentString commentStringTemplate' style="display:none">
        <div class="topLevelComment comment">
          <p></p>
          <button class='btn replyBtn'>Reply</button>
        </div>
      </div>

      <!-- subcomment template -->
      <div class='subComment subCommentTemplate' style="display:none">
        <p></p>
        <button class='replyBtn btn'>Reply</button>
      </div>

      <!-- reply box template -->

      <div class='replyBoxContainer replyBoxContainertemplate' style="display:none">
        <textarea class='replyBox'></textarea>
        <button onclick='submitComment("")' class='btn submitBtn'>Submit</button>
      </div>

      <div class='footer'>
        <div onclick="removeFooter()" class="close-container">
          <div class="leftright"></div>
          <div class="rightleft"></div>
        </div>
        <!-- <button class='removeFooterBtn' onclick="removeFooter()">X</button> -->
        <div class='facebookContainer'>
          <a href="https://twitter.com/LightningHosted?ref_src=twsrc%5Etfw" class="twitter-follow-button"
            data-size="large" data-show-count="false">Follow @LightningHosted</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

</body>
<footer>
  <script src="/script.js"></script>
  <script src="/noauth-script.js"></script>
  <script src="/share-script.js"></script>
</footer>