<!DOCTYPE html>

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133745471-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-133745471-2');
  </script>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/main.css" />
  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
</head>

<body>
  <div class="page-wrapper">
    <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <a href="/"><img src="/LightningHosted.png" alt="Company Logo"></a>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="/auth/#">Posts</a></li>
          <li class="nav-item"><a href="/noauth/about">About</a></li>
          <li class="nav-item"><a href="/noauth/contact">Contact</a></li>
          <%- logInStatus %>
        </ul>
      </nav>
    </div>
    <section class="headline">
      <h1>LightningHosted</h1>
      <p>Share Images And Stack Sats</p>
    </section>
    <div id="shareImage" class="item photo" style="grid-row-end: span 11;">
      <div class="content">
        <div class="title">
          <h3><%- image.title %></h3>
        </div> <img class="photothumb" src="/noauth/image/<%- image.fileName %>">
        <div class="desc">
          <p>Views: <%- image.views %></p>
          <p>Upvotes: <span id="upvotes<%- image._id %>"> <%- image.upVotes %> </span> <button class="upVotebtn"
              onclick="upvoteImage('<%- image._id %>')"><span class="chevron top"></span></button></p>
          <div id="share-buttons">
            <p>Share
              <span>
            <!-- Facebook -->
            <a href="http://www.facebook.com/sharer.php?u=http://192.168.0.33.nip.io:3000/noauth/share/<%- image.fileName %>"
              target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
            </a>

            <!-- Reddit -->
            <a href="http://reddit.com/submit?url=http://192.168.0.33.nip.io:3000/noauth/share/<%- image.fileName %>&amp;title=<%- image.title %>"
              target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" />
            </a>

            <!-- Twitter -->
            <a href="https://twitter.com/share?url=http://192.168.0.33.nip.io:3000/noauth/share/<%- image.fileName %>&amp;text=LightningHosted.com&amp;hashtags=LightningHosted"
              target="_blank">
              <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
            </a>
          </div>
        </span>
        </p>
        </div>
      </div>
    </div>
    <div class="grid"></div>



</body>
<footer>
  <script src="/script.js"></script>
  <script src="/noauth-script.js"></script>
</footer>